@import "tailwindcss";
@import "tw-animate-css";

@layer theme, base, components, utilities;

@layer base {
  html {
    font-family: var(--font-lato);
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    /* Define breakpoint values */
    --screen-xs: 400px;
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px;
    --screen-3xl: 1680px;
    --screen-4xl: 2200px;

    /* colors */
    --color-custom-100: 10 16% 90%;
    --color-custom-200: 3 77% 32%;
    --color-custom-300: 15 33% 9%;
    --color-custom-400: 36 92% 53%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
@theme {
  /* Optional: keep these if you want to use raw CSS media queries */
  --screen-xs: 400px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  --screen-3xl: 1680px;
  --screen-4xl: 2200px;
}

body {
  font-family: var(--font-lato);
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: var(--font-playfield), sans-serif;
  --font-sans: var(--font-lato), sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-md: 768px;
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 2200px;

  /* Spacing */
  --spacing-4_5: 1.125rem;
  --spacing-5_5: 1.375rem;
  --spacing-6_5: 1.625rem;
  --spacing-7_5: 1.875rem;
  --spacing-8_5: 2.125rem;
  --spacing-9_5: 2.375rem;
  --spacing-10_5: 2.625rem;
  --spacing-11_5: 2.875rem;
  --spacing-12_5: 3.125rem;
  --spacing-13_5: 3.375rem;
  --spacing-14_5: 3.625rem;
  --spacing-15_5: 3.875rem;
  --spacing-16_5: 4.125rem;
  --spacing-17_5: 4.375rem;
  --spacing-18_5: 4.625rem;
  --spacing-19_5: 4.875rem;
  --spacing-20_5: 5.125rem;

  /* Colors */
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  /* custom colors */
  --color-custom-light: hsl(var(--color-custom-100));
  --color-custom-dark: hsl(var(--color-custom-200));
  --color-custom-bg: hsl(var(--color-custom-300));
  --color-custom-accent: hsl(var(--color-custom-400));

  /* Avocado Colors */
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  /* Font Sizes */
  /* --text-xs: 0.875rem;
  --text-xs-line: 1.25rem;

  --text-sm: 1rem;
  --text-sm-line: 1.5rem;

  --text-base: 1.125rem;
  --text-base-line: 1.75rem;

  --text-lg: 1.25rem;
  --text-lg-line: 1.75rem;

  --text-xl: 1.5rem;
  --text-xl-line: 2rem;

  --text-2xl: 2rem;
  --text-2xl-line: 2.5rem;

  --text-3xl: 2.5rem;
  --text-3xl-line: 3rem;

  --text-4xl: 3rem;
  --text-4xl-line: 3.5rem;

  --text-5xl: 3.75rem;
  --text-5xl-line: 4rem;

  --text-6xl: 4.5rem;
  --text-6xl-line: 4.5rem; */

  /* Border Radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Easing */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-playfair: var(--font-playfair), serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }

  .text-subtitle {
    @apply text-3xl font-bold text-center mb-12;
  }

  .button-white {
    @apply text-black hover:text-white bg-white hover:bg-black border border-black;
  }

  .button-black {
    @apply text-white hover:text-black bg-black hover:bg-white border border-white;
  }

  .button-standard {
    @apply hover:text-white hover:bg-white border border-white;
  }

  .bg-custom-light {
    background-color: hsl(var(--color-custom-100));
  }
  .bg-custom-dark {
    background-color: hsl(var(--color-custom-200));
  }
  .bg-custom-bg {
    background-color: hsl(var(--color-custom-300));
  }
  .bg-custom-accent {
    background-color: hsl(var(--color-custom-400));
  }
  .text-custom-light {
    color: hsl(var(--color-custom-100));
  }
  .text-custom-dark {
    color: hsl(var(--color-custom-200));
  }
  .text-custom-bg {
    color: hsl(var(--color-custom-300));
  }
  .text-custom-accent {
    color: hsl(var(--color-custom-400));
  }
}

@layer components {
  .container {
    @apply mx-auto px-8;
    max-width: 100%;
  }

  @media (min-width: 400px) {
    .container {
      max-width: 400px;
    }
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }

  @media (min-width: 1680px) {
    .container {
      max-width: 1680px;
    }
  }

  @media (min-width: 2200px) {
    .container {
      max-width: 2200px;
    }
  }
}

/* Custom animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Custom font sizes */
/* .text-xs {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-base {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-2xl {
  font-size: 2rem;
  line-height: 2.5rem;
}

.text-3xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.text-4xl {
  font-size: 3rem;
  line-height: 3.5rem;
}

.text-5xl {
  font-size: 3.75rem;
  line-height: 4rem;
}

.text-6xl {
  font-size: 4.5rem;
  line-height: 4.5rem;
} */

/* Custom spacing */
.space-y-4\.5 {
  margin-top: 1.125rem;
}

.space-y-5\.5 {
  margin-top: 1.375rem;
}

.space-y-6\.5 {
  margin-top: 1.625rem;
}

.space-y-7\.5 {
  margin-top: 1.875rem;
}

.space-y-8\.5 {
  margin-top: 2.125rem;
}

.space-y-9\.5 {
  margin-top: 2.375rem;
}

.space-y-10\.5 {
  margin-top: 2.625rem;
}

.space-y-11\.5 {
  margin-top: 2.875rem;
}

.space-y-12\.5 {
  margin-top: 3.125rem;
}

.space-y-13\.5 {
  margin-top: 3.375rem;
}

.space-y-14\.5 {
  margin-top: 3.625rem;
}

.space-y-15\.5 {
  margin-top: 3.875rem;
}

.space-y-16\.5 {
  margin-top: 4.125rem;
}

.space-y-17\.5 {
  margin-top: 4.375rem;
}

.space-y-18\.5 {
  margin-top: 4.625rem;
}

.space-y-19\.5 {
  margin-top: 4.875rem;
}

.space-y-20\.5 {
  margin-top: 5.125rem;
}
